<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 接口映射 -->
<mapper namespace="com.example.demo.Config.mapper.QuestionMapper">
    <insert id="create">
        insert into question (title,description,creator,tag)
        values (#{title},#{description},#{creator},#{tag})
    </insert>
    <select id="list" resultType="com.example.demo.daoPOJO.Question" parameterType="java.util.List">
        select * from question
    </select>
    <select id="listPage" resultType="com.example.demo.daoPOJO.Question" parameterType="com.github.pagehelper.Page">
        select * from question
    </select>
</mapper>